
<div class="flex-1 min-h-full min-w-full p-10 lg:p-20 relative md:flex items-center text-center md:text-left md:space-x-10">

  <div class="font-light flex flex-col mb-20 md:mb-0">
    <h1 class="font-black uppercase text-3xl lg:text-5xl text-yellow-400 mb-10">You seem to be lost!</h1>
    <p>The page you're looking for isn't available.</p>
    <p>Try searching again or use the Go Back button below.</p>
    <div class="pt-20">
      <button routerLink="/" class="text-lg font-light outline-none focus:outline-none transform transition-all text-yellow-400 hover:text-yellow-500"><i class="mdi mdi-arrow-left mr-2"></i>Go Back</button>
    </div>
  </div>


  <div class="w-full md:w-1/2 text-center">
    <img src="assets/images/undraw_not_found_60pq.svg" alt="">
  </div>

</div>
